.homeContainer {
    background-color: #EAB959;
    min-height: 550px;
    max-height: 550px;
    margin: auto;
    margin-top: 10vh;
    border-radius: 10px;
    border-style: solid;
    border-width: 0px;
    box-shadow: 2px 2px 5px;
    padding: 0px !important;
}

.homeGrid {
    height: 100%;
    width: 100%;
}

.homeContainer .homeForm {
    display: block;
    text-align: center;
    width: 100%;
    height: max-content;
    margin: 4%;
    padding: 4%;
    background-color: white;
    border-radius: 15px;
}

.homeForm .homeFormButton {
    height: 4em;
    margin-top: 24px;
    margin-bottom: 24px;
    background-color: #EAB959;
    color: white;
    border: 1px;
    border-style: solid;
    border-color: #EAB959;
    box-shadow: 0px;
}

.homeForm .MuiButtonBase-root:hover {
    background-color: white;
    color: #EAB959;
}

.homeForm .textField:focus{
    border-color: red;
}