.centerChildren > ::-webkit-scrollbar {
    width: 20px;
  }

  .centerChildren > ::-webkit-scrollbar-track {
background-color: transparent;
}

.centerChildren > ::-webkit-scrollbar-thumb {
background-color: #eedca4;
border-radius: 20px;
border: 6px solid transparent;
background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
background-color: #EAB959;
}

.homeContainer {
    background-color: #EAB959;
    height: 80vh;
    min-height: 60vh;
    max-height: 90vh;
    margin: auto;
    margin-top: 10vh;
    border-radius: 10px;
    border-style: solid;
    border-width: 0px;
    box-shadow: 2px 2px 5px;
    padding: 0px !important;
    overflow: auto;
}

.homeGrid {
    height: 100%;
    width: 100%;
}

.homeContainer .homeForm {
    margin: auto;
    display: block;
    max-height: 100%;
    min-width: 50%;
    max-width: 90%;
    text-align: center;
    padding: 5%;
    background-color: white;
    border-radius: 15px;
    overflow-y: auto;
}

.homeForm .stickySearch {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    top: 0px;
    padding-top: 2.5%;
    background-color: white;
    border-bottom: 2px #EAB959;
    border-bottom-style: solid;
    z-index: 99;
}

.homeForm .homeFormButton {
    /* flex-basis: 100%; */
    height: 4em;
    width: 100%;
    margin-top: 24px;
    margin-bottom: 24px;
    background-color: #EAB959;
    color: white;
    border: 1px;
    border-style: solid;
    border-color: #EAB959;
}

.homeForm .MuiButtonBase-root:hover {
    background-color: transparent;
    color: #EAB959;
}

.homeForm .textField:focus{
    border-color: red;
}

.homeForm .MuiDataGrid-overlayWrapper { 
    height: 100px
}

/* set size of button in the footer of the data grid */
.MuiDataGrid-footerContainer .homeFormButton { 
    margin: auto 0px auto 20px;
    width: 100px;
    height: 2.6em;
}

.MuiDataGrid-footerContainer .MuiButtonBase-root:hover {
    background-color: transparent;
    color: #EAB959;
    border-color: #EAB959;
}