.homeForm .MuiDataGrid-overlayWrapper { 
    height: 100px
}

/* set size of button in the footer of the data grid */
.reportTable .tableButton {
    margin: auto 0px auto 20px;
    width: 100px;
    height: 2.6em;
    border-color: #3D405B;
    background-color: #3D405B;
    color: white;
}

.reportTable .MuiDataGrid-row.Mui-selected,
.reportTable .Mui-selected {
    background-color: #c1c6fc;
}

#onHoldSearch {
    margin-left: 5%;
    align-self: center;
    height: auto;
    width: 10%;
    background-color: #3D405B;
    border-radius: 10px;
    border: 2px #3D405B;
    border-style: solid;
} 
.MuiButtonBase-root:hover#onHoldSearch, 
.MuiDataGrid-footerContainer .MuiButtonBase-root:hover {
    background-color: transparent;
    color: #3D405B;
    border-color: #3D405B;
}

.stickySearch .MuiButtonBase-root:hover .MuiSvgIcon-root {
    color: #3D405B;
}

.MuiDataGrid-main .MuiDataGrid-columnHeaders { /*css for table header*/
    top: 0;
    background-color: #3D405B;
    position: sticky;
    color: white;
}

.MuiDataGrid-main .MuiDataGrid-columnHeader:focus-within {
    outline: 0px !important;
}

.MuiDataGrid-cell:focus-within {
    outline: solid gray 1px !important;
    outline: solid gray 0px !important;
    outline-offset: -1px !important;
}

.MuiDataGrid-columnHeaders .MuiCheckbox-indeterminate {
    color: white !important;
}

.reportTable .Mui-checked {
    color: white;
}

.MuiButtonBase-root:hover.MuiCheckbox-root .MuiSvgIcon-root {
    color: white;
}

@media only screen and (min-width: 0px) and (max-width: 599px)  {
    .homeForm .stickySearch {
        /* height: ; */
        display: flex;
        flex-wrap: wrap;
        position: sticky;
        top: 0px;
        z-index: 99;
    }

    #onHoldSearch {
        width: 25%;
    } 
}