.MuiContainer-root .centerChildren {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    place-content: center;
    height: 100%;
    width: 100%;
}

.userInfoBox {
    text-align: center;
    background-color: #373737;
    position: relative;
    height: 30%;
    width: 100%;
    border-bottom-style: hidden;
}

.userInfoBox .userInfo {
    margin-top: 10%;
    margin-left: 5%;
    position: relative;
    color: white;
    text-align: left;
    font-weight: 550;
    font-family: monospace;
}

#userLogo {
    margin-top: 10%;
    margin-left: 5%;
    font-size: 2.5em;
    color: white;
}

#logoutLogo {
    font-size: 1.5em;
    transform: scaleX(-1);
}

#mainList {
    padding: 0px;
    height: 100%;
    background-color: #373737;
}

#drawerButton {
    flex-basis: 100%;
    background-color: #EAB959;
    color: white;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 0px 10px 10px 10px;
}

.MuiDrawer-root .MuiDrawer-paperAnchorLeft {
    height: inherit;
    border-radius: 10px 0px 0px 10px;
    position: absolute;
    top: auto;
    left: auto;
  }

.MuiList-root .dropdownMenu {
    background-color: white;
    padding: 0px;
    width: 100%;
    align-content: right;
}

.dropdownMenu .MuiListItemIcon-root {
    padding-left: 24px;
}
.dropdownMenu .MuiTypography-root {
    margin-left: 15px;
    font-size: 12px;
}

.MuiList-root .MuiTypography-root {
    color: white;
    font-weight: 400;
    font-family: Helvetica;
    font-size: 17px;
}

.dropdownMenu .MuiListItemText-root .MuiTypography-root { /*change color of dropdown menu text*/
    color: #373737;
}

.Mui-selected {
    background-color: #EAB959 !important;
}

.Mui-selected .MuiTypography-root {
    color: white !important;
}

.MuiDrawer-root .MuiSvgIcon-root { /*Sets user icon to this color*/
    color: white;
}

.dropdownMenu .MuiSvgIcon-root { /*change drowdown menu icon colors to this*/
    color: #373737;
}

.Mui-selected .MuiSvgIcon-root { /*Sets icons to this color while selected*/
    color: white;
}

#mainList .MuiListItemButton-root:hover, 
.MuiListItemButton-root:hover .MuiSvgIcon-root { /*change color of icon on hover*/
    color: white;

}

#mainList .MuiListItemButton-root:hover { /*change color of background list item on hover*/
    background-color: #EAB959;
}

.MuiListItemButton-root:hover .MuiTypography-root { /*change color of text of list item on hover*/
    color: white;
}

@media only screen and (min-width: 0px) and (max-width: 599px)  {
    .dropdownMenu .MuiListItemIcon-root {
        padding-left: 12px;
    }
    .dropdownMenu .MuiTypography-root {
        margin-left: 10px;
        font-size: 12px;
    }
    .MuiListItemText-root .MuiTypography-root {
        font-weight: 400;
        font-family: Helvetica;
        font-size: 14px;
    }
}
