.outerBox {
    max-width: 550px;
    box-sizing: border-box;
    padding: 10% 20% 10% 20%;
    border-color: #EAB959;
    border-style: solid;
    border-radius: 30px;
    border-width: 1px;
    box-shadow: 0px 0px 20px #EAB959;
    margin: auto;
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MuiTextField-root > *{
    border-width: 0px;
    border-style: solid;
    border-radius: 20px;
}
