.outerBox {
    max-width: 550px;
    box-sizing: border-box;
    padding: 10% 0% 10% 0%;
    /* border-color: #EAB959; */
    border-style: hidden;
    border-radius: 20px;
    border-width: 1px;
    box-shadow: 2px 2px 5px;
    margin: auto;
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MuiTextField-root > *{
    border-width: 0px;
    border-style: solid;
    border-radius: 20px;
}
